
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#clock {
/*     height: 300px;
    width: 250px; */
    font-size: 100px;
    border-radius: 15px;
}

.numbers {
/*     height: 300px;
    width: 200px; */
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-align: center;
    border-radius: 15px;
}
.redondear {
    border-radius: 15px;
}

.main {
    background-color: black;
    

}
body {
/*     box-sizing: border-box
 */}